{% extends 'frontend.html' %}
{% load static %}
{% block content%}
<section id="inner-headline">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="pageTitle">About Us</h2>
		</div>
	</div>
</div>
</section>
<section id="content">
<section class="section-padding">
	<div class="container">
		<div class="row showcase-section">
			<div class="col-md-6">
				<img src="/static/frontend/img/dev1.png" alt="showcase image">
			</div>
			<div class="col-md-6">
				<div class="about-text">
					<h3>About Itns Group </h3>
					<p> Itns group (India) is a global leader in technology and outsourcing solutions. We provide enterprises with strategic insights on what lies ahead and help them transform and thrive in a changing world. We enable clients to stay ahead of the competition and the innovation curve. </p>
					 <p>We service small, medium, and large enterprises for all their IT and IT-related needs. We have a special interest in working with start-ups. With the experience and knowledge we have, we can make it possible for new and budding business to meet their requirements at a low cost, without compromising on quality </p>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container">
				
				<div class="about">
			
					
					<div class="row">
						<div class="col-md-8">
							<!-- Heading and para -->
							<div class="block-heading-two">
								<h3><span>Our Mission</span></h3>
							</div>
							<p><h4>To raise our quality standards without raising the price bar.</h4></p>
							<p>Technology, in one form or another, is required by every business to grow and expand. There are start-ups and businesses who do not have a lot of money to invest from the get-go. With our experience and knowledge, we would like to generate affordable, high quality, technology-driven solutions that empower businesses . </p>
						</div>
												
						<div class="col-md-4">
							<div class="block-heading-two">
								<h3><span>Our Expertise</span></h3>
							</div>								
							<h6>Web Development</h6>
							<div class="progress pb-sm">
								<!-- White color (progress-bar-white) -->
								<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								 <span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>Designing</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
								 <span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>User Experience</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
								 <span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>Development</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
								 <span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
						</div>
						
					</div>
					
											 
					 
					<br>
					<!-- Our Team starts -->
			
					<!-- Heading -->
					<div class="block-heading-six">
						<h4 class="bg-color">Our Team</h4>
					</div>
					<br>
					
					<!-- Our team starts -->
					
					<div class="team-six">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<!-- Team Member -->
								<div class="team-member">
									<!-- Image -->
									<img class="img-responsive" src="/static/frontend/img/team1.jpg" alt="">
									<!-- Name -->
									<h4>Johne Doe</h4>
									<span class="deg">Creative</span> 
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<!-- Team Member -->
								<div class="team-member">
									<!-- Image -->
									<img class="img-responsive" src="/static/frontend/img/team2.jpg" alt="">
									<!-- Name -->
									<h4>Jennifer</h4>
									<span class="deg">Programmer</span> 
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<!-- Team Member -->
								<div class="team-member">
									<!-- Image -->
									<img class="img-responsive" src="/static/frontend/img/team3.jpg" alt="">
									<!-- Name -->
									<h4>Christean</h4>
									<span class="deg">CEO</span> 
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<!-- Team Member -->
								<div class="team-member">
									<!-- Image -->
									<img class="img-responsive" src="/static/frontend/img/team4.jpg" alt="">
									<!-- Name -->
									<h4>Kerinele rase</h4>
									<span class="deg">Manager</span> 
								</div>
							</div>
						</div>
					</div>
					
					<!-- Our team ends -->
					
					
				</div>
								
			</div>
</section>

		{% endblock %}	